* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #f5d0fe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  width: 500px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editable-container {
  display: flex;
  align-items: center;
}
.text {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
}
.input-el {
  width: 250px;
  border-radius: 3px;
  border: 1px solid #cbd2d9;
  color: #323f4b;
  height: 37px;
  font-family: roboto;
  font-size: 15px;
}
.editable-btn {
  background-color: #d946ef;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  height: 37px;
  margin-left: 5px;
  width: 80px;
}
